<?xml version="0.0" ?>
<robot name="goal_mark">
  <link name="goal_mark">
    <contact>
      <lateral_friction value="0.7"/>
      <rolling_friction value="0.0"/>
      <contact_cfm value="0.0"/>
      <contact_erp value="0.1"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value=".0"/>
       <inertia ixx=".01" ixy="0" ixz="0" iyy=".01" iyz="0" izz=".01"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <cylinder radius="0.02" length="0.001"/>
      </geometry>
      <material name="desert sand">
        <color rgba="1 0 0 0.8" />
      </material>
    </visual>
  </link>


</robot>

